.dark body.docs-page {
	background-color: #10082e;
}
body.docs-page {
	background-color: #f7f5ff;
	height: 100%;
	min-height: 100%;
}

.docs {
	min-height: 100vh;
}

.docs-wrapper {
	position: relative;
	align-items: flex-start;
}

.docs-menu {
	display: none;

	font-size: 0.9rem;
	line-height: 0.9rem;
	color: rgb(115 115 115 / var(--tw-text-opacity));
}

.docs-menu ul {
	display: block;
}

.docs-menu ul {
	display: block;
	position: relative;
	/* margin-top: 1.5rem; */
	margin-left: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.docs-menu section {
	overflow: hidden;
}

/* .docs-menu ul::after { */
/* 	content: ''; */
/* 	display: block; */
/* 	position: absolute; */
/* 	left: 0px; */
/* 	top: 0; */
/* 	width: 1px; */
/* 	height: 100%; */
/* 	background-color: #d5bdd9; */
/* } */
/**/
/* .docs-menu li:first-child { */
/* 	margin-top: 0rem; */
/* } */
/**/
/* .docs-menu li { */
/* 	margin-top: 1rem; */
/* 	padding-left: 1rem; */
/* } */

.docs-on-page {
	display: none;
}

.docs-wrapper {
	display: flex;
}

.docs-content {
	padding-left: 1rem;
	padding-right: 1rem;
}

.docs-content a {
	border-radius: 0.25rem;
	text-decoration: text-underline-position;
	text-decoration-thickness: from-font;
	text-decoration-line: underline;
	text-underline-position: under;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
	.docs-menu {
		position: sticky;
		top: 0;
		display: flex;
		flex-direction: column;
		padding-top: 6rem;
		width: 34%;
		max-width: 23rem;
		font-size: 0.7rem;
		line-height: 0.7rem;
	}

	.docs-on-page {
		position: sticky;
		top: 0;
		display: flex;
		padding-top: 6rem;
		width: 20%;
		max-width: 20rem;
		padding-left: 1rem;
	}
}

@media (min-width: 1280px) {
}
