@custom-media --viewport-tablet (min-width: 768px);
@custom-media --viewport-laptop (min-width: 992px);
@custom-media --viewport-desktop (min-width: 1280px);

body.docs-page {
	background-color: #f7f5ff;
}

.dark body.docs-page {
	background-color: #10082e;
}

.z3-l-docs-container {
	max-width: 90rem;
	margin: 0 auto;
}

.z3-l-docs-wrapper {
	min-height: 100vh;
	border: 1px solid red;
}

.z3-l-docs-header {
	border: 1px solid blue;
	min-height: 80px;
	position: sticky;
	top: 0;
}

.z3-l-docs-page {
	border: 1px solid blue;
	display: block;

	@media (--viewport-tablet) {
		display: flex;
	}
}

.z3-l-docs-page__menu {
	background: red;
	display: none;
	flex-direction: column;
	align-self: self-start;
	width: 16rem;
	flex: 0 0 16rem;
	position: sticky;
	top: 5rem;
	height: 50vh;

	@media (--viewport-tablet) {
		display: flex;
	}
}

.z3-l-docs-page__content {
	background: lightblue;
	width: 100%;
	max-width: 100%;

	code {
		overflow-wrap: break-word;
		white-space: break-spaces;
	}

	@media (--viewport-tablet) {
		flex: 1 auto auto;
	}
}

.z3-l-docs-page__toc {
	background: green;
	display: none;
	width: 16rem;
	flex: 0 0 16rem;
	align-self: self-start;
	position: sticky;
	top: 5rem;
	height: 50vh;

	@media (--viewport-desktop) {
		display: flex;
		flex-direction: column;
	}
}

.z3-l-docs-footer {
	border: 1px solid green;
}

/* NOOBS BELOW ME */
/* NOOBS BELOW ME */

.docs-wrapper {
	position: relative;
	align-items: flex-start;
}

.docs-menu ul {
	display: block;
}

.docs-menu ul {
	display: block;
	position: relative;
	/* margin-top: 1.5rem; */
	margin-left: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.docs-menu section {
	overflow: hidden;
}

.docs-content a {
	border-radius: 0.25rem;
	text-decoration: text-underline-position;
	text-decoration-thickness: from-font;
	text-decoration-line: underline;
	text-underline-position: under;
}
