.dark body.home-page {
	background-color: #bf9e76;
}

body.home-page {
	background-color: var(--colors-green);
	background-color: #bf9e76;

	.header {
		background-color: rgba(191, 158, 118, 0.7);
		backdrop-filter: blur(4px);
		&.header--sticky {
			box-shadow: 4px 2px 4px rgb(107 75 36 / 60%);
		}
	}

	h1 {
		color: var(--colors-primary);
		border: 1px solid green;
		span {
			border: 0px solid red;
		}
	}
}

:is(#alpha, .home-page) h1 {
	border: 0px solid transparent;
}

:is(.home-page > .beta) + :is(.alpha > .beta) {
	order: 2;
}

.homepage .homepage__h1 {
	font-size: 4rem;
	line-height: 4rem;
	padding-top: 1rem;
	padding-bottom: 2rem;
	color: #ffffff;
}

.homepage .homepage__h1 span {
	display: block;
	word-wrap: break-word;
}

.homepage .homepage__h2 {
	font-size: 4rem;
	line-height: 4rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
	color: #ffffff;
}

.homepage .homepage__h2 span {
	display: block;
	word-wrap: break-word;
}

.homepage .homepage__image-wrapper {
	display: flex;
	justify-content: center;
}

.homepage .home-page__cell {
	box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.16);
	border-radius: 32px;
	position: relative;
}

.homepage .home-page__cell-product-dark {
	display: none;
}

.dark .homepage .home-page__cell-product-dark {
	display: block;
}

.dark .homepage .home-page__cell-product-light {
	display: none;
}

.homepage .homepage__angel-top img {
	display: none;
}

.homepage .homepage__angel-bottom img {
	display: none;
}

.homepage .home-page__radix-logo-dark {
	display: none;
}

.dark .homepage .home-page__radix-logo-dark {
	display: block;
}

.dark .homepage .home-page__radix-logo {
	display: none;
}

@media (min-width: 768px) {
	.homepage .homepage__h1 {
		margin-top: 3.5rem;
		padding-bottom: 0rem;
		font-size: 7.5rem;
		line-height: 7rem;
		letter-spacing: -0.15rem;
		position: relative;
		z-index: 1;
	}

	.homepage .homepage__h1 span {
		display: block;
		width: 100%;
	}

	.homepage .homepage__h2 {
		font-size: 7.5rem;
		line-height: 7rem;
		letter-spacing: -0.2rem;
		padding-top: 0rem;
		padding-bottom: 0rem;
	}

	.homepage .homepage__h2 span {
		display: block;
		width: 100%;
	}

	.homepage .homepage__image-wrapper {
		position: relative;
		margin-top: 5.8rem;
	}

	.homepage .homepage__product {
		position: relative;
		width: 360px;
		height: 628px;
		border-radius: 20px;
		box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.35);
	}
	.homepage .homepage__angel-top {
		pointer-events: none;
		position: absolute;
		top: 4rem;
		right: -35rem;
		width: 885px;
		height: 767px;
	}
	.homepage .homepage__angel-top img {
		display: block;
	}
	.homepage .homepage__angel-bottom {
		pointer-events: none;
		position: absolute;
		bottom: -47.3rem;
		left: -23rem;
		width: 529px;
		height: 904px;
	}

	.homepage .homepage__angel-bottom img {
		display: block;
	}

	.homepage .homepage__product-description {
		padding-top: 4rem;
		padding-left: 25%;
		position: relative;
		color: #ffffff;
	}

	.homepage .homepage__product-description h4 {
		padding-top: 2.3rem;
		padding-right: 12rem;
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

@media (min-width: 1024px) {
	.homepage .homepage__h1 {
		font-size: 9.5rem;
		line-height: 9rem;
		letter-spacing: -0.15rem;
	}

	.homepage .homepage__h2 {
		font-size: 9.5rem;
		line-height: 9rem;
		letter-spacing: -0.2rem;
	}
}

@media (min-width: 1280px) {
	.homepage .home-page__cell {
		position: unset;
	}

	.homepage .homepage__h1 {
		font-size: 9.5rem;
		line-height: 9rem;
		letter-spacing: -0.15rem;
	}

	.homepage .homepage__h2 {
		font-size: 9.5rem;
		line-height: 9rem;
		letter-spacing: -0.2rem;
	}

	.homepage .homepage__product-description {
		padding-top: 4rem;
		padding-left: 25.5rem;
		position: relative;
		color: #ffffff;
	}

	.homepage .home-page__cells {
		margin-left: -1.563rem;
		margin-right: -1.563rem;
	}
}
