.dark body.home-page {
	background-color: #242428;
	color: var(--color-core-white);
	fill: var(--color-core-white);
}

body.home-page {
	background-color: #242428;
	color: var(--color-core-white);
	fill: var(--color-core-white);

	.header {
		background-color: #242428;
		backdrop-filter: blur(4px);
		fill: var(--color-core-white);
		color: var(--color-core-white);
		&.header--sticky {
			box-shadow: 4px 2px 4px rgb(107 75 36 / 60%);
		}
		svg {
			fill: var(--color-core-white);
		}
	}

	h1 {
		color: var(--colors-primary);
		border: 1px solid green;
		span {
			border: 0px solid red;
		}
	}
}

:is(#alpha, .home-page) h1 {
	border: 0px solid transparent;
}

:is(.home-page > .beta) + :is(.alpha > .beta) {
	order: 2;
}

.homepage .coming-soon-wrapper {
	position: relative;
	min-height: calc(100vh - 160px);
	padding-bottom: 240px;
}

.homepage .bg-image-left {
	position: absolute;
	left: -150px;
	top: 400px;
	width: 422px;
	height: auto;
	pointer-events: none;
}

.homepage .bg-image-right {
	display: none;
	position: absolute;
	right: -500px;
	top: 0px;
	width: 902px;
	height: 814px;
	pointer-events: none;
}

.homepage .homepage__header {
	position: relative;
	font-size: 1.6rem;
	line-height: 2rem;
	letter-spacing: -0.04em;
	padding-top: 0rem;
	padding-bottom: 2rem;
	color: var(--color-core-white);
}

.homepage .homepage__product {
	position: relative;
	width: 1160px;
	height: auto;
	box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.15), 0px 136px 192px rgba(0, 0, 0, 0.3), 0px 50px 50px rgba(0, 0, 0, 0.25), 0px 24px 24px rgba(0, 0, 0, 0.2), 0px 12px 12px rgba(0, 0, 0, 0.15);
	display: flex;
	align-self: self-start;
	border-radius: 8px;
}


@media (min-width: 768px) {
	.homepage .bg-image-left {
		position: absolute;
		left: -100px;
		top: 200px;
		width: 822px;
		height: 1222px;
	}
}

@media (min-width: 1024px) {

	.homepage .homepage__header {
		position: relative;
		font-size: 2.0rem;
		line-height: 2.4rem;
		letter-spacing: -0.04em;
		padding-top: 1rem;
		padding-bottom: 2rem;
		color: var(--color-core-white);
	}

	.homepage .bg-image-right {
		display: block;
	}

	.homepage .bg-image-left {
		position: absolute;
		left: -200px;
		top: 260px;
		width: 822px;
		height: 1222px;
	}

	.homepage .homepage__product {
		position: relative;
		width: 1160px;
		height: 788px;
		box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.15), 0px 136px 192px rgba(0, 0, 0, 0.3), 0px 50px 50px rgba(0, 0, 0, 0.25), 0px 24px 24px rgba(0, 0, 0, 0.2), 0px 12px 12px rgba(0, 0, 0, 0.15);
		display: flex;
		align-self: self-start;
		border-radius: 8px;
	}

}

@media (min-width: 1280px) {

}
