.z3-c-dropdown-menu__content {
	min-width: 7rem;
	background: var(--color-background-interactive);
	border-radius: 0.3rem;
	padding: 0.6rem;
	font-size: 0.75rem;
	line-height: 1.8;
	box-shadow: var(--color-shadow-primary);
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
	transform-origin: var(--radix-dropdown-menu-content-transform-origin);

	&[data-state='open'] {
		animation: fadeIn 150ms ease-out;
		animation-fill-mode: forwards;
	}

	&[data-state='closed'] {
		animation: fadeOut 150ms ease-out;
		animation-fill-mode: forwards;
	}

	@media (prefers-reduced-motion) {
		&[data-state='open'],
		&[data-state='closed'] {
			animation: none;
		}
	}
}

.z3-c-dropdown-menu__item,
.z3-c-dropdown-menu__radio-item {
	color: var(--color-font-primary);
	background-color: var(--color-background-interactive);
	position: relative;
	line-height: 1;
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	height: 1.6rem;
	padding: 0 0.6rem;

	&:hover {
		background-color: var(--color-background-hover);
	}
	&:focus-visible {
		outline: none;
		border: none;
		background-color: var(--color-background-hover);
	}
}

.z3-c-dropdown-menu__seperator {
	height: 1px;
	background-color: var(--color-background-hover);
	margin: 0.5rem 0.6rem;
}

.z3-c-dropdown-menu__arrow {
	fill: var(--color-background-interactive);
}

.z3-c-dropdown-menu__label {
	padding: 0 0.6rem;
	color: var(--color-font-secondary);
}

.z3-c-dropdown-menu__item-indicator {
	position: absolute;
	top: 0.3rem;
	left: -0.3rem;
}

@keyframes fadeIn {
	from {
		transform: scale(0.95);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(0.95);
		opacity: 0;
	}
}
