.landing-cta-btn {
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	appearance: none;
	outline: none;
	border: none;
	font-family: inherit;
	font-size: 16px;
	font-weight: 500;
	background-image: linear-gradient(90deg, #fcecfe, #fbf6e7, #e6fcf5);
	border-radius: 25px;
	padding: 2px;
	position: relative;
	line-height: 24px;
	color: #14387e;

	&:hover {
		svg {
			animation: stroke 1s linear;
		}
	}

	&.start {
		svg {
			animation: stroke 1s linear;
		}
	}

	.lines {
		position: absolute;
		inset: 0;
		mix-blend-mode: hard-light;
		border-radius: 25px;
		pointer-events: none;
		z-index: 1;

		& > div {
			position: absolute;
			inset: 0;

			&:last-child {
				transform: rotate(180deg);
			}

			svg {
				display: block;
				position: absolute;
				inset: 0;
				overflow: visible;
				fill: none;
				stroke-width: 2;
				stroke: #c9e9ff;
				width: 100%;
				height: 100%;
				stroke-dasharray: 2 10;
				stroke-dashoffset: 14;
				opacity: 0;
			}

			svg {
				&:nth-child(1) {
					stroke: #f8fcff;
				}
				&:nth-child(2) {
					stroke-width: 6px;
					filter: blur(20px);
				}
				&:nth-child(3) {
					stroke-width: 5px;
					filter: blur(6px);
				}
				&:nth-child(4) {
					stroke-width: 10px;
					filter: blur(56px);
				}
			}
		}
	}
}

@keyframes stroke {
	30%,
	55% {
		opacity: 1;
	}
	100% {
		stroke-dashoffset: 4;
		opacity: 0;
	}
}
