@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@400;500;600;700&display=swap');

@property --btn-primary-c-first {
	syntax: '<color>';
	inherits: false;
	initial-value: #673bdf;
}

@property --btn-primary-c-a {
	syntax: '<color>';
	inherits: false;
	initial-value: #673bdf;
}

@property --btn-primary-c-b {
	syntax: '<color>';
	inherits: false;
	initial-value: #673bdf;
}

@property --btn-primary-c-c {
	syntax: '<color>';
	inherits: false;
	initial-value: #673bdf;
}

@property --btn-primary-c-d {
	syntax: '<color>';
	inherits: false;
	initial-value: #673bdf;
}

@property --btn-primary-c-e {
	syntax: '<color>';
	inherits: false;
	initial-value: #673bdf;
}

@property --btn-primary-c-dark-first {
	syntax: '<color>';
	inherits: false;
	initial-value: #aca6d3;
}

@property --btn-primary-c-dark-a {
	syntax: '<color>';
	inherits: false;
	initial-value: #aca6d3;
}

@property --btn-primary-c-dark-b {
	syntax: '<color>';
	inherits: false;
	initial-value: #aca6d3;
}

@property --btn-primary-c-dark-c {
	syntax: '<color>';
	inherits: false;
	initial-value: #aca6d3;
}

@property --btn-primary-c-dark-d {
	syntax: '<color>';
	inherits: false;
	initial-value: #aca6d3;
}

@property --btn-primary-c-dark-e {
	syntax: '<color>';
	inherits: false;
	initial-value: #aca6d3;
}

@property --btn-primary-p-a {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 0%;
}

@property --btn-primary-p-b {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 20%;
}

@property --btn-primary-p-c {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 40%;
}

@property --btn-primary-p-d {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 60%;
}

@property --btn-primary-p-e {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 80%;
}

button.z3us-btn--primary {
	transition: --btn-primary-c-first 500ms, --btn-primary-c-a 500ms, --btn-primary-c-b 500ms, --btn-primary-c-c 500ms,
		--btn-primary-c-d 500ms, --btn-primary-c-e 500ms, --btn-primary-p-a 500ms, --btn-primary-p-b 500ms,
		--btn-primary-p-c 500ms, --btn-primary-p-d 500ms, --btn-primary-p-e 500ms;
	background: radial-gradient(
		circle at 50% 50%,
		var(--btn-primary-c-first) 5px,
		var(--btn-primary-c-a) var(--btn-primary-p-a),
		var(--btn-primary-c-b) var(--btn-primary-p-b),
		var(--btn-primary-c-c) var(--btn-primary-p-c),
		var(--btn-primary-c-d) var(--btn-primary-p-d),
		var(--btn-primary-c-e) var(--btn-primary-p-e)
	);
}

button.z3us-btn--primary.z3us-btn--disabled {
	background: var(--btn-primary-c-first);
	&:hover {
		background: var(--btn-primary-c-first);
	}
}

button.z3us-btn--primary:hover {
	--btn-primary-p-a: 20%;
	--btn-primary-p-b: 40%;
	--btn-primary-p-c: 60%;
	--btn-primary-p-d: 80%;
	--btn-primary-p-e: 100%;

	--btn-primary-c-a: #5426d1;
	--btn-primary-c-c: #5426d1;
	--btn-primary-c-e: #5626d7;
}

.dark-theme {
	button.z3us-btn--primary {
		transition: --btn-primary-c-dark-first 500ms, --btn-primary-c-dark-a 500ms, --btn-primary-c-dark-b 500ms,
			--btn-primary-c-dark-c 500ms, --btn-primary-c-dark-d 500ms, --btn-primary-c-dark-e 500ms, --btn-primary-p-a 500ms,
			--btn-primary-p-b 500ms, --btn-primary-p-c 500ms, --btn-primary-p-d 500ms, --btn-primary-p-e 500ms;
		background: radial-gradient(
			circle at 50% 50%,
			var(--btn-primary-c-dark-first) 5px,
			var(--btn-primary-c-dark-a) var(--btn-primary-p-a),
			var(--btn-primary-c-dark-b) var(--btn-primary-p-b),
			var(--btn-primary-c-dark-c) var(--btn-primary-p-c),
			var(--btn-primary-c-dark-d) var(--btn-primary-p-d),
			var(--btn-primary-c-dark-e) var(--btn-primary-p-e)
		);
	}

	button.z3us-btn--primary:hover {
		--btn-primary-c-dark-a: #bfbbde;
		--btn-primary-c-dark-c: #bfbbde;
		--btn-primary-c-dark-e: #bfbbde;
	}

	button.z3us-btn--primary.z3us-btn--disabled {
		background: var(--btn-primary-c-dark-first);
		&:hover {
			background: var(--btn-primary-c-dark-first);
		}
	}
}
