.z3-c-text {
}

.z3-c-text--tiny {
	font-size: var(--font-size-tiny);

	&.z3-c-text--line-height {
		line-height: var(--font-line-height-tiny);
	}

	&.z3-c-text--letter-spacing {
		letter-spacing: var(--font-letter-spacing-tiny);
	}
}

.z3-c-text--xs {
	font-size: var(--font-size-xs);

	&.z3-c-text--line-height {
		line-height: var(--font-line-height-xs);
	}

	&.z3-c-text--letter-spacing {
		letter-spacing: var(--font-letter-spacing-xs);
	}
}

.z3-c-text--sm {
	font-size: var(--font-size-sm);

	&.z3-c-text--line-height {
		line-height: var(--font-line-height-sm);
	}

	&.z3-c-text--letter-spacing {
		letter-spacing: var(--font-letter-spacing-sm);
	}
}

.z3-c-text--base {
	font-size: var(--font-size-base);

	&.z3-c-text--line-height {
		line-height: var(--font-line-height-base);
	}

	&.z3-c-text--letter-spacing {
		letter-spacing: var(--font-letter-spacing-base);
	}
}

.z3-c-text--lg {
	font-size: var(--font-size-lg);

	&.z3-c-text--line-height {
		line-height: var(--font-line-height-lg);
	}

	&.z3-c-text--letter-spacing {
		letter-spacing: var(--font-letter-spacing-lg);
	}
}

.z3-c-text--xl {
	font-size: var(--font-size-xl);

	&.z3-c-text--line-height {
		line-height: var(--font-line-height-xl);
	}

	&.z3-c-text--letter-spacing {
		letter-spacing: var(--font-letter-spacing-xl);
	}
}

.z3-c-text--xl2 {
	font-size: var(--font-size-xl);

	&.z3-c-text--line-height {
		line-height: var(--font-line-height-xl);
	}

	&.z3-c-text--letter-spacing {
		letter-spacing: var(--font-letter-spacing-xl);
	}
}

.z3-c-text--xl3 {
	font-size: var(--font-size-xl3);

	&.z3-c-text--line-height {
		line-height: var(--font-line-height-xl3);
	}

	&.z3-c-text--letter-spacing {
		letter-spacing: var(--font-letter-spacing-xl3);
	}
}

.z3-c-text--xl4 {
	font-size: var(--font-size-xl4);

	&.z3-c-text--line-height {
		line-height: var(--font-line-height-xl4);
	}

	&.z3-c-text--letter-spacing {
		letter-spacing: var(--font-letter-spacing-xl4);
	}
}

.z3-c-text--xl5 {
	font-size: var(--font-size-xl5);

	&.z3-c-text--line-height {
		line-height: var(--font-line-height-xl5);
	}

	&.z3-c-text--letter-spacing {
		letter-spacing: var(--font-letter-spacing-xl5);
	}
}

.z3-c-text--xl6 {
	font-size: var(--font-size-xl6);

	&.z3-c-text--line-height {
		line-height: var(--font-line-height-xl6);
	}

	&.z3-c-text--letter-spacing {
		letter-spacing: var(--font-letter-spacing-xl6);
	}
}

.z3-c-text--xl7 {
	font-size: var(--font-size-xl7);

	&.z3-c-text--line-height {
		line-height: var(--font-line-height-xl7);
	}

	&.z3-c-text--letter-spacing {
		letter-spacing: var(--font-letter-spacing-xl7);
	}
}
