.z3-c-accounts_navigation {
	height: var(--spacing-16);
	background: var(--color-background-secondary);
	padding-left: var(--spacing-4);
	padding-right: var(--spacing-4);
	display: flex;
	align-items: center;
	flex-shrink: 0;

	.z3-c-accounts_navigation__logo {
		width: 6rem;
		height: auto;
	}

	> ul {
		display: flex;
		margin-left: var(--spacing-5);
		gap: var(--spacing-3);
	}
}

.underlined-menu {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center left;
	.wrapper {
		display: flex;
		justify-content: space-evenly;
	}
	.menu-item {
		margin: 0 1.5rem;
		font-size: 1rem;
		font-weight: 700;
		cursor: pointer;
		position: relative;
		&:first-child {
			margin-left: 3rem;
		}
	}
	.underline {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 4px;
		border-radius: 15px;
		background: white;
		opacity: 0.85;
	}
}
