.z3-c-accounts_navigation {
	height: var(--spacing-16);
	background: var(--color-background-secondary);
	padding-left: var(--spacing-4);
	padding-right: var(--spacing-4);
	display: flex;
	align-items: center;
	flex-shrink: 0;

	.z3-c-accounts_navigation__logo {
		width: 6rem;
		height: auto;
	}

	> ul {
		display: flex;
		margin-left: var(--spacing-5);
		gap: var(--spacing-3);
	}
}
