.z3-c-accounts-desktop {
	display: none;

	height: 100vh;
	width: 100vw;
	flex-direction: column;

	@media (--viewport-tablet) {
		display: flex;
	}
}

.z3-c-accounts-desktop__body {
	position: relative;
	flex: 1 1 auto;
}

.card-wrapper {
	position: relative;
	margin: 0 auto;
	width: 312px;
	height: 180px;
}

.card {
	position: absolute;
	width: 312px;
	height: 180px;
	border-radius: 8px;
	transform-origin: top center;
	list-style: none;
	/* border: 1px solid blue; */
}
